header {
    background-color: #2196F3;
    height: 64px;
    width: 100%;
    display: flex;
    padding-left: 2rem;
    align-items: center;
}

header a {
    padding: 0 1rem;
    text-decoration: none;
    color: #FFFFFFB2;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}